{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Socialone</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/socialone.css' %}">
<body  id="main">
	<header>
		<nav id="header-nav" class="navbar navbar-default navbar-dark bg-primary">
        <div class="container">
        <div class="navbar-header">
        	<div class="navbar-brand">
            <h1>WEATHER<br></h1>
          </div>
      </div>
  </div>
</nav>
</header>
<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="input-group mb-3">
				
				<form method="POST">
					{% csrf_token %}
					<input type="text" class="form-control" placeholder="City name" aria-label="Recipient's username" aria-describedby="button-addon2">
					<div class="d-grid gap-2 col-6 mx-auto">
						<button class="btn btn-primary" type="submit">Button</button>
					  </div>
			  </div>
		</div>
	</div>
</div>




	
</body>
</html>